/* Navbar scroll effect */
header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button hover effect */
.animated-btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-btn:hover {
    transform: scale(1.05);
}


footer a:hover {
    text-decoration: underline;
}

/* Optional: Style for icons */
footer img {
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

footer img:hover {
    filter: grayscale(0);
}
